* {
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;
   font-family: var(--my-font-family);
}

header {
   h1 {
      color: var(--my-color-green);
   }
}

main {
   .image {
      width: 340px;
      height: 220px;
      background-size: cover;
      background-position: center;
      background-image: url("images/ararat.jpg");
   }
}

footer {
   img {
      width: 100px;
      height: 100px;
   }
}